body{
    background-color: blanchedalmond;
  }

  h1 {
    text-align: center; 
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #227ff8;
    padding: 10px 0;
    text-align: center;
}