body{
    background-color: #28d8cc;
  }

  .login-container {

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #28d8cc;
}
.login-container {
    background-color: #28d8cc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #28d8cc;
    border-radius: 5px;
}
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #227ff8;
    padding: 10px 0;
    text-align: center;
}